{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">  
<h1>Привет, я Анатолий</h1>

<p>Мой GitHub: https://github.com/AnatoliiBessmertnyi</p>
<p>Мой страница на Linkedin: https://www.linkedin.com/in/anatolii-bessmertnyi-633150265/</p>
<p>Мой TG: @Hegem0n</p>
<p>Меня вдохновляют простое в сложном.</p>
<p>В мир программирования пришел год назад, когда понял, что не хочу работать на старом месте работы. Выбрал программирование так как вижу в себе тягу к этому.</p>
<p>Ощущения мои от нахождения в этом мире постоянно меняются, от полного восторога до апатии, от воодушевления, до злости на самого себя. Но весь негатив он понятен и быстро уходит.</p>
{% endblock %}